div{
    background-color: aqua;
    padding: 5px;
}

div:hover{
    background-color: orange;
}

table, tr, td{
    padding: 5px;
    text-align: center;
    background-color: darkgray;
    border-color: black;
    border-collapse: collapse;
}

td:hover{
    background-color: orange;
}